.avatar{
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  text-align: center;
  line-height: 2rem;
  background-color: #ddd;
  color: #000;
}

.avatar-color-1{
  background-color: #ffb6b6;
}
.avatar-color-2{
  background-color: #ffffb6;
}
.avatar-color-3{
  background-color: #b6ffba;
}
.avatar-color-4{
  background-color: #b6c5ff;
}
.avatar-color-5{
  background-color: #dcb6ff;
}
